- provide :title, '| Global goal details'

%h1 Global goal details

%table.table
  %tr
    %th Title
    %th Description
    %th Tags
  %tr
    %td
      = @global_goal.title
    %td
      = @global_goal.description
    %td
      = @global_goal.tag_list

= link_to 'Edit', edit_global_goal_path(@global_goal)
\|
= link_to 'Back', global_goals_path
