= simple_form_for(@user_goal) do |f|
  = f.error_notification

  .form-inputs

    = f.input :user_id

    = f.input :goal_id

    = f.input :notes

    = f.input :deadline

    = f.input :percent_complete

    = f.input :complete


  .form-actions
    = f.button :submit
