= simple_form_for(@user_goal, :url => profile_user_goal_path(@profile)) do |f|
  = f.error_notification

  .form-inputs

    = f.input :title

    = f.input :description

    = f.input :notes

    = f.input :deadline

    = f.input :percent_complete

    = f.input :complete


  .form-actions
    = f.button :submit
