%h1 Listing user_goals

%table.table
- @user_goals.each do |user_goal|
  .alternating
    %h4
      =user_goal.title
    %p
      %strong
        Description:
      = user_goal.description
    %p
      %strong
        Notes:
      = user_goal.notes
    %p
      %strong
        Deadline:
      = user_goal.deadline
    %p
      %strong
        Notes:
      = user_goal.percent_complete
    %p
      %strong
        Complete:
      = user_goal.complete
    %br
    .btn-group
      .btn
        = link_to 'Show', profile_user_goal_path(user_goal)
      .btn
        = link_to 'Edit', edit_profile_user_goal_path(user_goal)

.index-bottom
  .btn-group
    .btn.btn-success
      = link_to 'New goal', new_global_goal_path
