%p#notice= notice

%p
  %b Title:
  = @user_goal.title
%p
  %b Description:
  = @user_goal.description
%p
  %b Notes:
  = @user_goal.notes
%p
  %b Deadline:
  = @user_goal.deadline
%p
  %b Percent complete:
  = @user_goal.percent_complete
%p
  %b Complete:
  = @user_goal.complete

= link_to 'Edit', edit_profile_user_goal_path(@profile, @user_goal)
\|
= link_to 'Back', profile_user_goals_path
